*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.user {
    margin-bottom: 20px;
}
.user h3 {
    margin: 0;
}
.user p {
    margin: 5px 0;
}
.line {
    margin: 10px 0;
    border: 0;
    border-top: 1px solid #ccc;
}